* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#container {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, Utkal, sans-serif;
}

.header__menu-icon-svg {
  width: 20px;
  height: 40px;
  fill: #0c0c0c;
}

.brand-logo__icon {
  fill: #c00;
  width: 50px;
  height: 40px;
}

header {
  padding: 20px 0;
  padding-top: 20px;
  border-bottom: 3px solid black;
}

.headerWrapper {
  padding: 0 40px;
}

.headerItemsWrapper {
  display: flex;
  gap: 7px;
  align-items: center;
}

.donateText {
  font-size: 15px;
  font-weight: bold;
}

.articleDetails {
  padding: 30px 40px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.articleDetails span:first-child {
  font-size: 13px;
  font-weight: 600;
}

.articleDetails span:nth-child(3) {
  font-size: 13px;
  font-weight: 500;
  color: #6e6e6e;
}

.title {
  border-left: 10px solid rgb(204, 0, 0);
  font-size: 27px;
  font-weight: 700;
  padding: 0 30px;
}

.updated > p {
  padding: 25px 0;
  padding-left: 40px;
}

.image1 {
  width: 100%;
}

.shareBtns {
  display: flex;
  gap: 8px;
  padding: 20px 0;
  padding-left: 30px;
}

.shareBtn {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  max-height: 32px;
  padding: 6px 8px;
}

.icon-email-share {
  width: 16px;
  height: 16px;
}

.donation-widget {
  width: 100%;
  padding: 20px;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info-text h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}
.info-text .subtext {
  color: #666;
  font-size: 15px;
}

.progress-circle {
  position: relative;
  width: 105px;
  height: 110px;
}
.progress-circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 8;
}

.circle-progress {
  fill: none;
  stroke: #c00;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 251.2; /* Circumference of r=40 */
  stroke-dashoffset: 251.2; /* Hidden by default */
  transition: stroke-dashoffset 1s ease-out; /* Smooth filling effect */
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
}

.donate-btn {
  width: 100%;
  background: #c00;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 17px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0 0px;
  /* Gradient for the "Shade" effect */
  background: linear-gradient(to bottom, #ff3b30 0%, #c00 100%);

  /* Shadow to give it lift */
  box-shadow: 0 4px 12px rgba(230, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.3); /* Inner top highlight */

  transition: transform 0.1s;
}

.textWrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 32px;
}

.underline {
  text-decoration: underline;
  font-weight: 700;
  text-underline-offset: 4px;
}
.paddingWrapper {
  padding: 0 20px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.helpLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.helpCardWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.helpCard {
  display: flex;
  gap: 5px;
  width: 300px;
}

.helpCardText {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.helpCard > img {
  width: 50px;
  height: 50px;
}

.helpText {
  font-weight: bold;
  font-size: 18px;
}
.help > .helpText {
  text-align: center;
  padding: 0 20px;
}

footer {
  background-color: black;
  padding: 0 30px;
  color: white;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  padding: 30px 0;
  border-bottom: 2px solid gray;
  gap: 12px;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.followcnn {
  padding: 30px 0;
}

.footer__app-download-buttons {
  padding: 20px 0;
  margin-left: 30px;
}

.footer__app-download-buttons > svg {
  height: 40px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.copyrightText {
    padding: 30px 0;
}

.legalLinks {
    padding: 30px 0;

}